#tetris-wrapper{
	width: 300px;
	display: block;
	margin: 0px auto;
}

.tetris-table td{
	width: 30px;
	height: 30px;
}

.tetris-table td.color-blue{
	background-color: #043F60;
}

.tetris-table td.color-red{
	background-color: #C16247;	
}

.tetris-table td.color-green{
	background-color: #70875F;	
}

.tetris-table td.color-brown{
	background-color: #513D2D;	
}

.tetris-table td.color-yellow{
	background-color: #EDD377;	
}